name: Terraform CI

on:
  push:
    branches: [ main ]
    paths:
      - "**/*.tf"
      - ".github/workflows/terraform-ci.yml"
  pull_request:
    branches: [ main ]
    paths:
      - "**/*.tf"

jobs:
  validate:
    name: "Terraform fmt & validate (dev/prod)"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        env:
          - dev
          - prod

    env:
      TF_IN_AUTOMATION: "true"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt check (root)
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend, ${{ matrix.env }})
        run: terraform -chdir=envs/${{ matrix.env }} init -backend=false

      - name: Terraform validate (${{ matrix.env }})
        run: terraform -chdir=envs/${{ matrix.env }} validate

  plan-dev:
    name: "Terraform plan (dev)"
    runs-on: ubuntu-latest
    needs: validate   # only run if fmt/validate pass

    env:
      TF_IN_AUTOMATION: "true"
      TF_VAR_db_username: ${{ secrets.TF_VAR_DB_USERNAME }}
      TF_VAR_db_password: ${{ secrets.TF_VAR_DB_PASSWORD }}
      TF_VAR_alarm_email: ${{ secrets.TF_VAR_ALARM_EMAIL }}
      TF_VAR_db_credentials_secret_arn: ${{ secrets.TF_VAR_DB_CREDENTIALS_SECRET_ARN }}
      TF_VAR_acm_certificate_arn: ${{ secrets.TF_VAR_ACM_CERTIFICATE_ARN }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials
        # pins major version; v4 is current as of late 2025
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform init (dev, real backend)
        run: terraform -chdir=envs/dev init -input=false

      - name: Terraform plan (dev)
        run: terraform -chdir=envs/dev plan -input=false
